@model IQueryable<HW8Project.Models.Assignment>

@{
    ViewData["Title"] = "Index";
    string ClassName = @Model.Select(a => a.Class.Name).First();
}

<h1 class="mb-5">@ClassName Assignments</h1>
<div class="row d-flex justify-content-center">


        @foreach (Assignment a in Model)
        {
            <div class="assignment-card">
                <h4>@a.Title</h4>
                <p>Priority: @a.Priority</p>
                <p>Due: @a.DueDate</p>
                <p>Notes: @a.Notes</p>

                <h5 style="display: inline;">Tags:
                @foreach (AssignmentTag t in a.AssignmentTags)
                    {
                        <span class="badge badge-primary">@t.Tag.Name</span>
                    }
                </h5>
            </div> 
        }
</div>