@model IEnumerable<HW5Project.Models.Assignments>;
@{
    ViewData["Title"] = "List";
}
<h1 class="text-center display-4">List</h1>
<p>Here is the list of all your assignments.</p>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Priority", "List", new { sortOrder = "Priority"})
            </th>
            <th>
                @Html.ActionLink("Due Date", "List", new { sortOrder = "Due Date"})
            </th>
            <th>
                @Html.ActionLink("Course", "List", new { sortOrder = "Course"})
            </th>
            <th>
                Title
            </th>
            <th colspan="2">
               Notes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (HW5Project.Models.Assignments assignment in Model)
        {
            string targetId = @assignment.Id.ToString();
            string target = "#accordion"+targetId;
            string hidden = "accordion"+targetId;
            double daysLeft = Math.Floor((assignment.DueDate - DateTime.Today).TotalDays);

            <tr data-toggle="collapse" data-target= @target class="clickable collapse-row collapsed">
            <td>@assignment.Priority</td>
            <td>@assignment.DueDate</td>
            <td>@assignment.Course</td>
            <td>@assignment.Title</td>
            <td>@assignment.Notes</td>
            <td>
                <a href="@Url.Action("Done", "Home", new {id = assignment.Id})" class="btn">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                </a>

            </td>
            </tr>

            <tr class="collapsed">
                <td colspan="6">
                    <div id= @hidden class="collapse">
                            <div style="width: auto">
                                <div class="text-center">
                                <h1 class="display-6 mt-5">@assignment.Title</h1>
                                @if (daysLeft < 1)
                                {
                                    <p>This assignment is due today</p>
                                }
                                else {
                                    <p>This assignment is due in @daysLeft days.</p>
                                }
                                </div>
                            
                            </div>
                            
                            <div class="row justify-content-center mt-5">
                                
                                @* idea from https://stackoverflow.com/q/11293048 *@
                                @using (Html.BeginForm("Edit","Home", new {id = assignment.Id})) {
                                    <div class="input-group mb-5">
                                    <input type="text" name="Note" class="form-control" placeholder="New Note" aria-label="New Note" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Check your value!">Edit</button>
                                    </div>
                                    </div>
                                }
                            </div>
                                

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(#lnk).click(function() {
        $('#lnk').replace("href", $('#txtSearch').val());
    })
</script>