@model IEnumerable<HW8Project.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>View Assignments</h1>

<div class="row text-center mb-5">
    <div class="col">
        <h6>Assignments For:</h6>
        @foreach (var c in Model.GroupBy(c => c.ClassId))
        {
            int classId = @c.Select(c => c.Class.Id).FirstOrDefault();
            string className = @c.Select(c => c.Class.Name).FirstOrDefault();
            <a class="btn btn-dark" href="/Classes/Class/@classId">@className</a>
        }
    </div>
</div>

<div class="assignment-table mt-5">
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>                                
                <th scope="col" style="font-size: 2em;">Priority</th>
                <th scope="col" style="font-size: 2em;">Due</th>
                <th scope="col" style="font-size: 2em;">Title</th>
                <th scope="col" style="font-size: 2em;">Notes</th>
                <th scope="col" style="font-size: 2em;">Class</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    <p>Complete button here</p>
                </td>
            </tr>
        }
        </tbody>
        </table>
    </div>
</div>  